<!--<div class="form">-->
    <!--<h3>Add your own content!</h3>-->
    <!--Title: <input [(ngModel)]="title" type="text" name="title" ><br>-->
    <!--Author: <input [(ngModel)]="author" type="text" name="author" ><br>-->
    <!--Body:  <input [(ngModel)]="body" type="text" name="body" ><br>-->
    <!--Type: <input [(ngModel)]="type" type="text" name="type" ><br>-->
    <!--Image: <input [(ngModel)]="imgUrl" type="text" name="imgUrl" ><br>-->
    <!--Tags: <input [(ngModel)]="tags" type="text" name="tags" ><br>-->
    <!--<button (click)="submit(title, author, body, type, imgUrl, tags)"> Submit </button>-->
    <!--<div class="error">{{this.error}}</div>-->
<!--</div>-->
<div><button mat-raised-button color="primary" (click)="openDialog()">Add new Content!</button></div>

