<section class="create">
    <app-create-content [startingId]="content.length" (newContentEvent)="addContentToList($event)"></app-create-content>
    <br>
</section>
<section class="itemSearch">
    <h3> Search </h3>
    <input #itemTitle>
    <div id="output"></div>
    <br>
    <button (click)="itemSearch(itemTitle.value)"> Search for Title </button>
</section>

<section class="storyList">
    <h2> Stories </h2>
    <app-content-card *ngFor="let item of content | filterTag:'Story'; first as isFirst; last as isLast;" [class.is-last]="isLast" [content]="item" class="story"></app-content-card>
</section>

<section class="newsList">
    <h2> News Articles </h2>
    <app-content-card *ngFor="let item of content | filterTag:'News'; first as isFirst; last as isLast;" [class.is-last]="isLast" [content]="item" class="news"></app-content-card>
</section>

