<mat-card class="ContentCard">
    <mat-card-header>
        <mat-card-title class="id">{{content.id}}</mat-card-title>
        <mat-card-subtitle class="author">{{content.author}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <img class="image" src="{{ content.imgUrl || 'https://cdn141.picsart.com/302123841347201.jpg?type=webp&to=crop&r=256'}}"  alt ="" (click)="displayID(item)">
        <p class="type">{{content.type}}</p>
        <p class="title" appHighlight >{{content.title}}</p>
        <p class="body">{{content.body}}</p>
        <div class="tags" *ngIf="content.tags">
            <div class="tags">
                Tags:{{content.tags}}
            </div>
        </div><br>
        <a [routerLink]="['/content',content.id]" routerLinkActive="active"> View More Details! </a><br>
    </mat-card-content>
</mat-card>
