<div class="ContentCard">
    <p class="id">{{content.id}}</p>
    <p class="author">{{content.author}}</p>
    <img class="image" src="{{ content.imgUrl || 'https://cdn141.picsart.com/302123841347201.jpg?type=webp&to=crop&r=256'}}"  alt ="" (click)="displayID(item)">
    <p class="type">{{content.type}}</p>
    <p class="title">{{content.title}}</p>
    <p class="body">{{content.body}}</p>
    <div class="tags" *ngIf="content.tags">
        <div class="tags">
            Tags:{{content.tags}}
        </div>
    </div>
</div>